<div class="admin-dashboard">
    <div class="admin-title">
        <h2>logs</h2>
        <a href="/add-log" class="button btn">+ add new</a>
    </div>
    <ul class="admin-log-ul glass-bg">
        <% data.forEach(log => { %>
            <li>
                <a href="/log/<%= log._id %>">
                    <span><%= log.title %> &nearr;</span>
                </a>
                <div class="admin-log-controls">
                    <div class="log-controls-btn">
                        <a href="/edit-log/<%= log._id %>" class="btn">edit</a>
                    </div>
                    <div class="log-controls-btn">
                        <form action="/delete-log/<% data._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="delete" class="btn btn-danger"></input>
                        </form>
                    </div>
                </div>
            </li>
         
        <% }) %>
    </ul>
</div>
