<footer class="footer">
    <div class="credentials">
        &copy; <%= new Date().getFullYear() %> Valentin Orrit
    </div>

    <%- include('../partials/socials.ejs') %>
    
    <div class="credentials-2">
        construit avec <i>Node.js</i> & <i>MongoDB</i>
    </div>
</footer>