<footer class="footer">
    <%- include('../partials/socials.ejs') %>
    
    <div class="credentials">
        &copy; <%= new Date().getFullYear() %> Valentin Orrit &#x2022; Built with nodejs & mongoDB
    </div>
</footer>