<footer class="footer">
    <div class="credentials socials-icon-footer">
        &copy; <%= new Date().getFullYear() %> Valentin Orrit
    </div>

    <%- include('../partials/socials.ejs') %>

    <div class="credentials-2 socials-icon-footer">
        <i>Node.js</i> & <i>MongoDB</i>
    </div>
</footer>
