<footer class="footer">
    <%- include('../partials/socials.ejs') %>
    
    <div class="credentials">
        &copy; <%= new Date().getFullYear() %> Valentin Orrit
    </div>

    <div class="credentials-2">
        Built with nodejs & mongoDB
    </div>
</footer>