<footer class="footer">

    <%- include('../partials/socials.ejs') %>
    
    <br>

    <div class="credentials">
        &copy; <%= new Date().getFullYear() %> Valentin Orrit
    </div>

    <div class="credentials-2">
        construit avec <b>Node.js & MongoDB</b>
    </div>
</footer>