<header class="header">
    <a href="/" class="header-logo">valentin orrit</a>

    <nav class="header-nav">
        <ul class="header-list">
            <li>
                <a href="/" class="">accueil</a>
            </li>
            <li>
                <a href="/portfolio" class="">portfolio</a>
            </li>
            <li>
                <a href="/logbook" class="">logbook</a>
            </li>
            <li>
            </li>
        </ul>
    </nav>
    
    <a href="/contact" class="contact-link header-logo">contact</a>
</header>