<header class="header">
    <div class="header-logo">
        <a href="/" class="header-logo-full">valentin orrit</a>
        <a href="/" class="header-logo-initials">valentin</a>
    </div>

    <nav class="header-nav">
        <ul class="header-list">
            <li>
                <a href="/" class="">accueil</a>
            </li>
            <li>
                <a href="/portfolio" class="">portfolio</a>
            </li>
            <!-- <li>
                <a href="/logbook" class="">logbook</a>
            </li> -->
        </ul>
    </nav>

    <a href="/contact" class="contact-link header-logo">contact</a>
</header>
