<div class="header-buttons">
    <div class="dark-mode">
        <button id="darkModeToggle" class="dark-mode-toggle">
            <span class="sun">☀️</span>
            <span class="moon">🌙</span>
        </button>
    </div>
    <div class="language">
        <button id="languageToggle" class="dark-mode-toggle language-toggle">
            <span class="fr-icon">🇫🇷</span>
            <span class="uk-icon">🇬🇧</span>
        </button>
    </div>
</div>