<div class="socials">
    <ul>
        <li>
            <span data-text="react" class="tooltip">
                <a href="https://github.com/valentin-orrit">
                    <img src="/icons/react.svg" alt="react icon" class="tech-icon react" loading="lazy">
                </a>
            </span> 
        </li>
    </ul>
</div>