<div class="socials">
    <ul>
        <li>
            <span data-text="github" class="tooltip-up">
                <a href="https://github.com/valentin-orrit">
                    <img src="/icons/github.svg" alt="github icon" class="socials-icon dark-mode-icon" loading="lazy">
                </a>
            </span> 
        </li>

        <li>
            <span data-text="linkedin" class="tooltip-up">
                <a href="https://www.linkedin.com/in/valentin-orrit-5723822b9/">
                    <img src="/icons/linkedin.svg" alt="linkedin icon" class="socials-icon dark-mode-icon linkedin-icon" loading="lazy">
                </a>
            </span>
        </li>

        <li>
            <span data-text="CV" class="tooltip-up">
                <a href="https://drive.google.com/file/d/1YkAg6amZvrfRzf_Jm_DZNn3Ig52eARCv/view?usp=sharing">
                    <img src="/icons/cv.svg" alt="cv icon" class="socials-icon dark-mode-icon" loading="lazy">
                </a>
            </span>
        </li>

        <li>
            <span data-text="leetcode" class="tooltip-up">
                <a href="https://leetcode.com/u/valentinorrit/">
                    <img src="/icons/leetcode.svg" alt="leetcode icon" class="socials-icon dark-mode-icon" loading="lazy">
                </a>
            </span>
        </li>
    </ul>
</div>