<div class="contact-page">
    <h2>contact</h2>
    <p>
        Une question concernant votre projet ? Un simple bonjour ? Ecrivez-moi et je reviendrai vers vous rapidement.
    </p>
    
    <% if (error_msg && error_msg.length > 0) { %>
        <div class="alert alert-danger">
            <%= error_msg %>
        </div>
    <% } %>

    <div class="contact-form">
        <form action="/send-email" method="POST">
            <div class="contact-inside-form glass-bg">
                <label for="name"><b>nom</b></label>
                <input type="text" placeholder="votre nom" name="name" id="name" autocomplete="name">
            
                <label for="email"><b>email</b></label>
                <input type="text" placeholder="votre@email.com" name="email" id="email" autocomplete="email">
            
                <label for="subject"><b>objet</b></label>
                <input type="text" placeholder="objet du message" name="subject" id="subject">
            
                <label for="message"><b>message</b></label>
                <textarea name="message" placeholder="dire bonjour!" cols="30" rows="7" id="message"></textarea>

                <div class="captcha">
                    <div class="g-recaptcha" data-sitekey="<%= siteKey %>"></div>
                </div>
            </div>

            <div class="contact-send-btn">
                <input type="submit" value="envoyer" class="btn">
            </div>
        </form>
    </div>
</div>

<!-- <script src="/js/send-email.js"></script> -->

