<div class="contact-page">
    <h2>Contact</h2>
    <p>
        Want to work together ? Have a question ? Hit me up and I'll get back to you asap.
    </p>
    
    <div class="contact-form">
        <form action="/send-email" method="POST">
            <div class="contact-inside-form glass-bg">
                <label for="name"><b>name</b></label>
                <input type="text" placeholder="your name" name="name" id="name" autocomplete="name">
            
                <label for="email"><b>email</b></label>
                <input type="text" placeholder="your@email.com" name="email" id="email" autocomplete="email">
            
                <label for="subject"><b>subject</b></label>
                <input type="text" placeholder="email subject" name="subject" id="subject">
            
                <label for="message"><b>message</b></label>
                <textarea name="message" placeholder="say hi!" cols="30" rows="7" id="message"></textarea>

                <div class="captcha">
                    <div class="g-recaptcha" data-sitekey="<%= siteKey %>"></div>
                </div>
            </div>

            <div class="contact-send-btn">
                <input type="submit" value="send" class="btn">
            </div>
        </form>
    </div>
</div>

<script src="../server/mailer/send-email.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
