<div class="hero">
    <div class="hero-glass-bg glass-bg"></div>

    <div class="hero-content">
        <div class="left-side">
            <div class="hero-text">
                <p>
                    Bonjour,<br>
                    Je suis Valentin.<br>
                    Dévelopeur Full Stack!
                </p>
            </div>
            <button class="btn projects-btn">
                <span class="btn-text">Projets</span>
            </button>
        </div>
    
        <div class="right-side">
            <img src="/img/hero-image.png" alt="profile picture" class="hero-image" width="522" height="424">
        </div>
    </div>
</div>

<div class="tech-stack">
    <div class="tech-stack-text">
        <p>Mes outils :</p>
    </div>
    
    <div class="tech-icons-list">
        <div class="tech-stack-glass-bg glass-bg"></div>

        <ul>
            <li>
                <span data-text="react" class="tooltip">
                    <img src="/icons/react.svg" alt="react icon" class="tech-icon">
                </span>    
            </li>
            <li>
                <span data-text="tailwind" class="tooltip">
                    <img src="/icons/tailwind.svg" alt="tailwind icon" class="tech-icon">
                </span>
            </li>
            <li>
                <span data-text="threejs" class="tooltip">
                    <img src="/icons/threejs.svg" alt="threejs icon" class="tech-icon">
                </span>
            </li>
            <li>
                <span data-text="nodejs" class="tooltip">
                    <img src="/icons/nodejs.svg" alt="nodejs icon" class="tech-icon">
                </span>
            </li>
            <li>
                <span data-text="rails" class="tooltip">
                    <img src="/icons/rails.svg" alt="rails icon" class="tech-icon rails">
                </span>
            </li>
            <li>
                <span data-text="postgreSQL" class="tooltip">
                    <img src="/icons/postgreSQL.svg" alt="postgreSQL icon" class="tech-icon">
                </span>
            </li>
            <li>
                <span data-text="mongoDB" class="tooltip">
                    <img src="/icons/mongoDB.svg" alt="mongoDB icon" class="tech-icon mongoDB">
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="contact">
    <button class="btn contact-btn" type="button">contact<img src="/icons/Send.svg" class="send-icon"></button>
</div>
