<div class="index" id="index">
    <div class="hero">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content">
            <div class="left-side">
                <div class="hero-text">
                    <p data-lang-key="welcome">bienvenue</p>
                    <p data-lang-key="name">je suis Valentin</p>
                    <p data-lang-key="dev">dévelopeur full stack</p>
                </div>
                <button class="btn projects-btn">
                    <span class="btn-text"
                        ><a href="/portfolio" data-lang-key="projects"
                            >projets</a
                        ></span
                    >
                </button>
            </div>

            <div class="right-side">
                <img
                    src="/img/profile-picture-012025.webp"
                    alt="profile picture"
                    class="profile-image"
                    width="522"
                    height="424"
                    data-hero-image
                />
            </div>
        </div>
    </div>

    <div id="index-projects">
        <h2>most recent projects</h2>

        <div class="portfolio">
            <div class="project-image" id="culture-shuffle">
                <div class="">
                    <div class="image-container">
                        <a
                            href="/super-secret-samples"
                            class="project-image-link"
                        >
                            <img
                                src="/img/projects_sss-homepage.webp"
                                alt="project picture"
                                class="project-image"
                                loading="lazy"
                            />
                            <div class="hover-text">
                                <p
                                    data-lang-key="super-secret-samples-description"
                                >
                                    [Work In Progress] SAAS Remix Full-stack
                                    React et Nodejs de téléchargement de samples
                                    audio pour producteurs de musique
                                    professionnels.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-image" id="culture-shuffle">
                <div class="">
                    <div class="image-container">
                        <a href="/eat-around" class="project-image-link">
                            <img
                                src="/img/projects_eat-around-3.webp"
                                alt="project picture"
                                class="project-image"
                                loading="lazy"
                            />
                            <div class="hover-text">
                                <p data-lang-key="eat-around-description">
                                    React app conçue pour aider les utilisateurs
                                    à découvrir et à suivre des établissements
                                    de restauration adaptés aux cuisines
                                    végétarienne, vegan, sans gluten, sans
                                    lactose, halal et casher, y compris les
                                    restaurants, boulangeries et cafés à
                                    proximité.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-image" id="live-project-manager">
                <div class="">
                    <div class="image-container">
                        <a
                            href="/live-project-manager"
                            class="project-image-link"
                        >
                            <img
                                src="/img/projects_live-project-manager-1.webp"
                                alt="project picture"
                                class="project-image"
                                loading="lazy"
                            />
                            <div class="hover-text">
                                <p data-lang-key="ableton-description">
                                    App CLI permettant de trouver des projets
                                    ableton live dans un directory, en extraire
                                    les données pertinantes et les stocker dans
                                    une base de donnée JSON.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <button class="btn contact-btn" type="button">
            <a href="/contact">contact</a>
        </button>
    </div>
</div>
