<div class="index" id="index">
    <div class="hero">
        <div class="hero-glass-bg glass-bg"></div>
    
        <div class="hero-content">
            <div class="left-side">
                <div class="hero-text">
                    <p data-lang-key="welcome">bienvenue</p>
                    <p data-lang-key="name">je suis Valentin</p>
                    <p data-lang-key="dev">dévelopeur full stack</p>
                </div>
                <button class="btn projects-btn">
                    <span class="btn-text"><a href="/portfolio" data-lang-key="projects">projets</a></span>
                </button>
            </div>
        
            <div class="right-side">
                <img src="/img/hero-image.webp" alt="profile picture" class="hero-image" width="522" height="424" data-hero-image>
            </div>
        </div>
    </div>
    
    <div class="tech-stack">
        <div class="tech-stack-text" data-lang-key="tools">
            <p>outils et technologies :</p>
        </div>
        
        <div class="tech-icons-list">
            <div class="tech-stack-glass-bg glass-bg"></div>
    
            <ul class="tech-first-row">
                <li>
                    <span data-text="nodejs" class="tooltip">
                        <img src="/icons/nodejs.svg" alt="nodejs icon" class="tech-icon nodejs dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>
                </li>
                <li>
                    <span data-text="tailwind" class="tooltip">
                        <img src="/icons/tailwind.svg" alt="tailwind icon" class="tech-icon tailwind dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>
                </li>
                <li>
                    <span data-text="threejs" class="tooltip">
                        <img src="/icons/threejs.svg" alt="threejs icon" class="tech-icon threejs dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>
                </li>
                <li>
                    <span data-text="react" class="tooltip">
                        <img src="/icons/react.svg" alt="react icon" class="tech-icon react dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>    
                </li>
            </ul>
            <ul class="tech-second-row">
                <li>
                    <span data-text="rails" class="tooltip">
                        <img src="/icons/Rails.svg" alt="rails icon" class="tech-icon rails dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>
                </li>
                <li>
                    <span data-text="postgreSQL" class="tooltip">
                        <img src="/icons/postgreSQL.svg" alt="postgreSQL icon" class="tech-icon postgreSQL dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>
                </li>
                <li>
                    <span data-text="mongoDB" class="tooltip">
                        <img src="/icons/mongoDB.svg" alt="mongoDB icon" class="tech-icon mongoDB dark-mode-icon" loading="lazy" width="80px" height="80px">
                    </span>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- <div class="contact">
        <button class="btn contact-btn" type="button"><a href="/contact">contact</a><img src="/icons/Send.svg" class="send-icon" loading="lazy"></button>
    </div> -->
    
</div>