<div class="hero">
    <div class="left-side">
        <div class="hero-text">
            <p>Hey there,</p>
            <p>I’m Valentin.</p> 
            <p>Full Stack Developer</p>
            <button class="btn" type="button">Projects</button>
        </div>
    </div>

    <div class="right-side">
        <img src="/img/hero-image.png" alt="profile picture" class="hero-image" width="522" height="424">
    </div>
</div>

<div class="tech-stack">
    <div class="text">
        <p>The tools I use :</p>
    </div>

    <div class="icons">

    </div>
</div>

<div class="contact-btn">
    <p>Hit me up!</p>
</div>

