<div class="hero">
    <div class="hero-glass-bg glass-bg"></div>

    <div class="hero-content">
        <div class="left-side">
            <div class="hero-text">
                <p>
                    Bonjour,<br>
                    Je suis Valentin.<br>
                    Dévelopeur Full Stack!
                </p>
            </div>
            <button class="btn" type="button">projets</button>
        </div>
    
        <div class="right-side">
            <img src="/img/hero-image.png" alt="profile picture" class="hero-image" width="522" height="424">
        </div>
    </div>
</div>

<div class="tech-stack">
    
    <div class="tech-stack-text">
        <p>tech stack :</p>
    </div>
    
    <div class="tech-icons-list">
        <div class="tech-stack-glass-bg glass-bg"></div>

        <ul>
            <li>
                <img src="/icons/react.svg" alt="react icon" class="tech-icon">
            </li>
            <li>
                <img src="/icons/tailwind.svg" alt="tailwind icon" class="tech-icon">
            </li>
            <li>
                <img src="/icons/threejs.svg" alt="threejs icon" class="tech-icon">
            </li>
            <li>
                <img src="/icons/nodejs.svg" alt="nodejs icon" class="tech-icon">
            </li>
            <li>
                <img src="/icons/rails.svg" alt="rails icon" class="tech-icon rails">
            </li>
            <li>
                <img src="/icons/postgreSQL.svg" alt="postgreSQL icon" class="tech-icon">
            </li>
            <li>
                <img src="/icons/mongoDB.svg" alt="mongoDB icon" class="tech-icon">
            </li>
        </ul>
    </div>
</div>

<div class="contact-btn">
    <button class="btn" type="button">contact</button>
</div>

<!-- <div>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Primis cursus nostra convallis blandit posuere; varius turpis tristique placerat. Non dictum felis nostra tristique, quis rhoncus tincidunt. Praesent pharetra nec aenean elementum malesuada molestie. Volutpat lorem nascetur tortor eleifend volutpat nullam. Hac ultrices quis purus ligula mauris cubilia interdum vivamus dui. In nam nascetur proin senectus fermentum himenaeos fringilla parturient.

        Mus posuere odio cursus; donec nisl sem est massa ad. Blandit justo justo class lectus leo natoque porttitor tellus. Fusce iaculis imperdiet ipsum varius dictum odio id. Phasellus iaculis tempor; feugiat class felis tempus? Mauris viverra fusce libero habitasse massa. Lobortis lacinia varius natoque lacus urna donec. Eget turpis litora dictum donec dictum aptent elit. Posuere dapibus ridiculus sed est torquent mattis himenaeos habitasse at. Fringilla luctus est interdum eleifend sit fringilla.
        
        Lacinia viverra pulvinar hac orci interdum nisl placerat lacus rutrum. Ornare ridiculus platea dolor scelerisque tortor tristique iaculis leo. Interdum elementum vulputate mollis bibendum luctus elementum. Et pharetra placerat ultricies non iaculis purus. Vel donec blandit pharetra; ut pellentesque montes senectus. Fames id vitae dapibus faucibus, semper sagittis eu tristique. Cursus parturient morbi auctor ultricies; consectetur ornare felis.
        
        Auctor magnis orci risus praesent interdum; porttitor hendrerit aliquam. Nullam eleifend facilisi facilisis cursus per gravida praesent hac nisi? Feugiat quis mi ante ligula interdum nullam urna. Interdum taciti dui eu vitae proin malesuada. Odio integer mus, tellus non odio orci. Eleifend himenaeos mi suscipit id elementum primis. Erat magnis tempus interdum rhoncus; pellentesque adipiscing. Montes ante fusce fusce erat porta ridiculus gravida nisi aptent. Senectus porttitor dapibus dolor viverra consequat sit pretium vehicula.
        
        Metus finibus fermentum imperdiet vel aliquam; donec sem. Justo dapibus in inceptos nunc dignissim neque egestas neque quis. Neque vel lobortis sociosqu, primis in blandit mattis tellus non. Praesent tincidunt conubia tempus est velit cubilia dis luctus. Laoreet pharetra tristique maximus sapien nibh netus, dui tempus ipsum. Tortor malesuada varius odio sed inceptos, nibh elementum magnis dapibus. Convallis ornare eros dignissim duis dolor. Magna fames tortor est nibh quam magnis. Ornare enim magna ultricies; mollis adipiscing feugiat.
        
        Luctus leo euismod sapien in lacus ex elementum. Viverra mollis nascetur porttitor; scelerisque tortor integer. Pellentesque ullamcorper aptent porta aptent rutrum id. Class nec dis id elit massa morbi dapibus mus. Aenean turpis mattis arcu posuere malesuada lectus nibh orci. Est torquent convallis class, ridiculus vivamus imperdiet. Curabitur sodales tempus augue, montes tristique convallis fringilla. Ullamcorper ad cras iaculis maximus diam eget urna massa. Quis mollis diam adipiscing parturient posuere sociosqu dolor. Odio diam dis integer interdum mollis laoreet ridiculus.
        
        Integer felis pretium donec feugiat accumsan elementum sollicitudin porttitor ipsum. Ipsum natoque quam at magnis vehicula parturient. Ridiculus nibh cras maximus ullamcorper id. Orci praesent gravida condimentum; ex facilisi dolor. Ligula nostra nisl fusce faucibus sapien! Turpis dolor sit ullamcorper ut potenti aenean. Justo gravida bibendum lectus aliquet, dui elementum magna.
        
        Curabitur ullamcorper phasellus pulvinar dictumst pharetra sit cras bibendum aptent. Auctor dis a suscipit justo bibendum. Nam est in accumsan scelerisque penatibus habitant viverra! Viverra gravida sodales gravida nibh iaculis penatibus sapien taciti. Adipiscing lobortis hac vel convallis; lectus tortor mattis. Tincidunt diam maecenas congue tristique quis; nec tellus ante.
        
        Scelerisque tristique tristique rhoncus viverra augue amet eu himenaeos. Non tempus quam vel sagittis, pretium nam luctus potenti phasellus. Placerat efficitur arcu ante at vulputate. Montes vestibulum convallis commodo orci scelerisque nec pretium porta. Maecenas tortor cras luctus conubia taciti inceptos cubilia. Facilisi ut primis duis dis aptent nostra ultrices sem. Eu non convallis primis elit imperdiet aptent dis. Lobortis penatibus ex dictumst mauris; velit malesuada consectetur. Dapibus felis dui; potenti ante senectus montes ullamcorper.
        
        Litora penatibus curabitur fames posuere enim pellentesque. Molestie maximus dis massa nam justo velit maximus posuere. Nullam dictum lorem bibendum lobortis, posuere suscipit magna luctus. Consectetur taciti proin platea augue; congue primis varius sagittis commodo. Class dis bibendum aliquam non nullam. Tellus quis leo donec parturient consequat quis elit; ullamcorper posuere.
        
        Urna diam dolor placerat vehicula tortor pulvinar magnis odio nisi. Facilisi ipsum vehicula erat tortor faucibus netus. Neque arcu urna aliquam et et ullamcorper. Ut luctus ac; placerat ad vitae elementum class sagittis gravida. Senectus dui leo facilisis parturient etiam varius. Vulputate aptent inceptos; pretium placerat volutpat non accumsan.
        
        Eros libero mattis faucibus ullamcorper augue gravida torquent condimentum? Aenean luctus malesuada ullamcorper iaculis libero at condimentum. Sit potenti ornare fermentum lacus fringilla habitant ipsum vestibulum. Non mus ornare massa pellentesque; nibh accumsan vitae! Feugiat odio erat sapien; nam suspendisse porta purus netus rhoncus. Mauris orci parturient platea senectus fusce porta duis neque taciti. Bibendum finibus ultrices vivamus nulla pretium ultricies suspendisse proin luctus.
        
        Habitasse etiam vitae hendrerit platea feugiat volutpat. Facilisis nec felis mattis imperdiet suspendisse imperdiet turpis molestie. Adictum morbi aliquet pretium, tristique aenean. Augue tellus fringilla iaculis tempus ornare ligula venenatis. Diam dis tempor sem semper lacus tempus natoque orci. Feugiat non inceptos facilisis magna bibendum tellus cursus. Praesent non phasellus suscipit purus placerat nam fringilla. Vulputate adipiscing luctus dignissim pulvinar hendrerit cursus dapibus. Sollicitudin aliquet convallis torquent lacinia nulla urna est conubia.
        
        Suscipit sollicitudin sagittis habitasse cras feugiat laoreet. Pulvinar nisl rhoncus sapien tellus finibus fringilla. Eleifend primis dis tristique, netus platea ultrices. Sapien ac dis nam, dictum porta habitasse. Dictum himenaeos dolor tristique tortor elementum risus per. Velit vivamus neque eleifend ante donec tincidunt egestas ridiculus. Mattis curabitur faucibus aptent luctus mauris mi malesuada magnis. Phasellus maximus mattis per vitae; volutpat hendrerit volutpat? Ornare platea tristique nam sem, ac ullamcorper nec.
        
        Eget cubilia sollicitudin morbi cubilia nunc suscipit. Erat mattis gravida tempor primis maximus purus sem ligula. Interdum mauris etiam feugiat efficitur donec nascetur. Rhoncus leo convallis elementum eleifend placerat enim urna porttitor. Suspendisse consectetur adipiscing mattis facilisi platea id ex eget neque. Varius quisque nunc cubilia hac fusce eu hac natoque suspendisse. Augue a nisl interdum consectetur nibh potenti consequat lorem. Dapibus nibh rhoncus gravida efficitur suspendisse tristique fringilla.
        
        Risus torquent placerat per dapibus pellentesque felis fringilla nec nam. Erat per efficitur at sed; in hendrerit. Laoreet fringilla eget luctus himenaeos id cubilia est. Molestie consequat maximus dictum mattis facilisi lobortis leo amet himenaeos. Velit etiam arcu netus habitasse molestie hac himenaeos. Interdum suspendisse habitasse hac tortor nibh iaculis a.
        
        Ultrices magna cras turpis feugiat nam. Nostra magna magna convallis, vulputate elementum etiam vel ut. Taciti velit vulputate neque aliquam venenatis. Non hac pretium at convallis nostra senectus. Maecenas ante ante ad ultricies leo metus taciti. Vivamus risus arcu accumsan vehicula nisl lacinia? Lacinia elementum senectus ornare ante integer. Vulputate porta ante a quisque himenaeos sem hac lorem nascetur. Diam turpis varius lacus; orci aliquam in. Vehicula tellus eu aptent iaculis, velit mi.
    </p>
</div> -->

