<div class="index" id="index">
    <div class="hero">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content">
            <div class="left-side">
                <div class="hero-text">
                    <p data-lang-key="welcome">bienvenue</p>
                    <p data-lang-key="name">je suis Valentin</p>
                    <p data-lang-key="dev">dévelopeur full stack</p>
                </div>
                <button class="btn projects-btn">
                    <span class="btn-text"
                        ><a href="/portfolio" data-lang-key="projects"
                            >projets</a
                        ></span
                    >
                </button>
            </div>

            <div class="right-side">
                <img
                    src="/img/hero-image.webp"
                    alt="profile picture"
                    class="hero-image"
                    width="522"
                    height="424"
                    data-hero-image
                />
            </div>
        </div>
    </div>

    <div class="tech-icons-list-project">
        <h4>favorite tools :</h4>
        <ul class="project-links-list">
            <li>
                <span data-text="react" class="tooltip">
                    <img
                        src="/icons/react.svg"
                        alt="react icon"
                        class="tech-icon react dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="tailwind" class="tooltip">
                    <img
                        src="/icons/tailwind.svg"
                        alt="tailwind icon"
                        class="tech-icon tailwind dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="nodejs" class="tooltip">
                    <img
                        src="/icons/nodejs.svg"
                        alt="nodejs icon"
                        class="tech-icon nodejs dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="express" class="tooltip">
                    <img
                        src="/icons/express.svg"
                        alt="nodejs icon"
                        class="tech-icon nodejs dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="vite" class="tooltip">
                    <img
                        src="/icons/vite.svg"
                        alt="react icon"
                        class="tech-icon react dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="prisma" class="tooltip">
                    <img
                        src="/icons/prisma.svg"
                        alt="nodejs icon"
                        class="tech-icon nodejs dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="postgreSQL" class="tooltip">
                    <img
                        src="/icons/postgreSQL.svg"
                        alt="postgreSQL icon"
                        class="tech-icon postgreSQL dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="jest" class="tooltip">
                    <img
                        src="/icons/jest.svg"
                        alt="postgreSQL icon"
                        class="tech-icon postgreSQL dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="AWS" class="tooltip">
                    <img
                        src="/icons/AWS.svg"
                        alt="postgreSQL icon"
                        class="tech-icon nodejs dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="github actions" class="tooltip">
                    <img
                        src="/icons/githubactions.svg"
                        alt="postgreSQL icon"
                        class="tech-icon nodejs dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
            <li>
                <span data-text="rails" class="tooltip">
                    <img
                        src="/icons/Rails.svg"
                        alt="postgreSQL icon"
                        class="tech-icon nodejs dark-mode-icon"
                        loading="lazy"
                        width="80px"
                        height="80px"
                    />
                </span>
            </li>
        </ul>
    </div>

    <div class="contact">
        <button class="btn contact-btn" type="button">
            <a href="/contact">contact</a
            ><img src="/icons/Send.svg" class="send-icon" loading="lazy" />
        </button>
    </div>
</div>
