<div class="logs">
    <h2 class="log-heading">latest logs</h2>

    <ul class="log-ul">
        <% data.forEach(log => { %>
            <li>
                <a href="/log/<%= log._id %>">
                    <span><%= log.title %></span>
                    <span class="log-list-date"><%= log.createdAt.toDateString() %></span>
                </a>
            </li>
         
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/logbook/?page=<%= nextPage %>" class="pagination">&lt; view older logs</a>
    <% } %>



</div>