<div class="logs">
    <h2 class="log-heading">latest logs</h2>

    <ul class="log-ul">
        <li>
            <a href="#">
                <span>log title 1</span>
                <span class="log-list-date">date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>log title 2</span>
                <span class="log-list-date">date2</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; view older logs</a>



</div>