<div class="portfolio">
    <div class="hero project" id="live-project-manager">
        <div class="hero-glass-bg glass-bg"></div>
    
        <div class="hero-content">
            <div class="left-side">
                <div class="hero-text">
                    <p>
                        ableton live project manager
                    </p>
                </div>
                <button class="btn projects-btn">
                    <span class="btn-text"><a href="/live-project-manager">+ d'infos</a></span>
                </button>
            </div>
        
            <div class="right-side">
                <img src="/img/projects_live-project-manager.png" alt="project picture" class="project-image" loading="lazy">
            </div>
        </div>
    </div>
    
    <div class="hero project" id="hotefinder">
        <div class="hero-glass-bg glass-bg"></div>
    
        <div class="hero-content project-invert">
            <div class="right-side-invert">
                <img src="/img/projects_hotefinder-1.png" alt="project picture" class="project-image" loading="lazy">
            </div>

            <div class="left-side-invert">
                <div class="hero-text">
                    <p>
                        hotefinder
                    </p>
                </div>
                <button class="btn projects-btn">
                    <span class="btn-text"><a href="/live-project-manager">+ d'infos</a></span>
                </button>
            </div>
        
        </div>
    </div>
    
    <div class="project" id="double-galaxy">
    
    </div>
    
    <div class="project" id="coppagabana">
    
    </div>
</div>
