<div class="portfolio">
    <div class="hero project" id="culture-shuffle">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content project-invert">
            <div class="right-side-invert image-container">
                <a href="/super-secret-samples" class="project-image-link">
                    <img
                        src="/img/projects_sss-homepage.webp"
                        alt="project picture"
                        class="project-image"
                        loading="lazy"
                    />
                    <div class="hover-text">
                        <p data-lang-key="super-secret-samples-description">
                            [Work In Progress] SAAS Remix Full-stack React et
                            Nodejs de téléchargement de samples audio pour
                            producteurs de musique professionnels.
                        </p>
                    </div>
                </a>
            </div>

            <div class="left-side-invert">
                <div class="hero-text">
                    <p>super secret samples</p>
                </div>
                <button class="btn projects-btn">
                    <span class="plus-sign">+</span>
                    <span class="btn-text"
                        ><a href="/super-secret-samples" data-lang-key="infos"
                            >d'infos</a
                        ></span
                    >
                </button>
            </div>
        </div>
    </div>

    <div class="hero project" id="eat-around">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content" id="threejs-double-galaxy">
            <div class="left-side">
                <div class="hero-text">
                    <p>eat around</p>
                </div>
                <button class="btn projects-btn">
                    <span class="plus-sign">+</span>
                    <span class="btn-text"
                        ><a href="/eat-around" data-lang-key="infos"
                            >d'infos</a
                        ></span
                    >
                </button>
            </div>

            <div class="right-side image-container">
                <a href="/eat-around" class="project-image-link">
                    <img
                        src="/img/projects_eat-around-3.webp"
                        alt="project picture"
                        class="project-image"
                        loading="lazy"
                    />
                    <div class="hover-text">
                        <p data-lang-key="eat-around-description">
                            React app conçue pour aider les utilisateurs à
                            découvrir et à suivre des établissements de
                            restauration adaptés aux cuisines végétarienne,
                            vegan, sans gluten, sans lactose, halal et casher, y
                            compris les restaurants, boulangeries et cafés à
                            proximité.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="hero project" id="culture-shuffle">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content project-invert">
            <div class="right-side-invert image-container">
                <a href="/culture-shuffle" class="project-image-link">
                    <img
                        src="/img/projects_culture-shuffle-1.png"
                        alt="project picture"
                        class="project-image"
                        loading="lazy"
                    />
                    <div class="hover-text">
                        <p data-lang-key="culture-shuffle-description">
                            React app de quiz culture, utilisant Open Trivia API
                            pour proposer des questions sur la musique, le
                            cinéma, les arts classiques et la littérature.
                        </p>
                    </div>
                </a>
            </div>

            <div class="left-side-invert">
                <div class="hero-text">
                    <p>culture shuffle</p>
                </div>
                <button class="btn projects-btn">
                    <span class="plus-sign">+</span>
                    <span class="btn-text"
                        ><a href="/culture-shuffle" data-lang-key="infos"
                            >d'infos</a
                        ></span
                    >
                </button>
            </div>
        </div>
    </div>

    <div class="hero project" id="live-project-manager">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content">
            <div class="left-side">
                <div class="hero-text">
                    <p>ableton manager CLI</p>
                </div>
                <button class="btn projects-btn">
                    <span class="plus-sign">+</span>
                    <span class="btn-text"
                        ><a href="/live-project-manager" data-lang-key="infos"
                            >d'infos</a
                        ></span
                    >
                </button>
            </div>

            <div class="right-side image-container">
                <a href="/live-project-manager" class="project-image-link">
                    <img
                        src="/img/projects_live-project-manager-1.webp"
                        alt="project picture"
                        class="project-image"
                        loading="lazy"
                    />
                    <div class="hover-text">
                        <p data-lang-key="ableton-description">
                            App CLI permettant de trouver des projets ableton
                            live dans un directory, en extraire les données
                            pertinantes et les stocker dans une base de donnée
                            JSON.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="hero project" id="hotefinder">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content project-invert">
            <div class="right-side-invert image-container">
                <a href="/hotefinder" class="project-image-link">
                    <img
                        src="/img/projects_hotefinder-1.webp"
                        alt="project picture"
                        class="project-image"
                        loading="lazy"
                    />
                    <div class="hover-text">
                        <p data-lang-key="hotefinder-description">
                            Plateforme permettant de mettre en relation
                            concierges et propriétaires pour la gestion de
                            locations courtes durées. Permet la création et la
                            mise à jour de missions pour faciliter le travail du
                            concierge et tenir à jour automatiquement le
                            propriétaire.
                        </p>
                    </div>
                </a>
            </div>

            <div class="left-side-invert">
                <div class="hero-text">
                    <p>hotefinder.com</p>
                </div>
                <button class="btn projects-btn">
                    <span class="plus-sign">+</span>
                    <span class="btn-text"
                        ><a href="/hotefinder" data-lang-key="infos"
                            >d'infos</a
                        ></span
                    >
                </button>
            </div>
        </div>
    </div>

    <div class="hero project" id="threejs-double-galaxy">
        <div class="hero-glass-bg glass-bg"></div>

        <div class="hero-content">
            <div class="left-side">
                <div class="hero-text">
                    <p>double galaxy</p>
                </div>
                <button class="btn projects-btn">
                    <span class="plus-sign">+</span>
                    <span class="btn-text"
                        ><a href="/threejs-double-galaxy" data-lang-key="infos"
                            >d'infos</a
                        ></span
                    >
                </button>
            </div>

            <div class="right-side image-container">
                <a href="/threejs-double-galaxy" class="project-image-link">
                    <img
                        src="/img/projects_threejs-double-galaxy-2.webp"
                        alt="project picture"
                        class="project-image"
                        loading="lazy"
                    />
                    <div class="hover-text">
                        <p data-lang-key="galaxies-description">
                            Représentation 3D de galaxies en threejs, adapté
                            d'un exercice de la formation
                            <i>threejs journey</i> de Bruno Simon.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
