<div class="project-page">
    <div class="project-hero-img">
        <h2>Mes compétences</h2>
    </div>

    <div class="skills-page-body glass-bg">
        <hr class="separator-solid" />
        <h3>front end</h3>
        <div class="tech-icons-list-project">
            <ul class="project-links-list">
                <li>
                    <span data-text="react" class="tooltip">
                        <img
                            src="/icons/react.svg"
                            alt="react icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="remix" class="tooltip">
                        <img
                            src="/icons/remix.svg"
                            alt="remix icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>

                <li>
                    <span data-text="tailwind" class="tooltip">
                        <img
                            src="/icons/tailwind.svg"
                            alt="tailwind icon"
                            class="tech-icon tailwind dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="threejs" class="tooltip">
                        <img
                            src="/icons/threejs.svg"
                            alt="threejs icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
            </ul>
        </div>

        <hr class="separator-solid" />
        <h3>back end</h3>
        <div class="tech-icons-list-project">
            <ul class="project-links-list">
                <li>
                    <span data-text="nodejs" class="tooltip">
                        <img
                            src="/icons/nodejs.svg"
                            alt="nodejs icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="express" class="tooltip">
                        <img
                            src="/icons/express.svg"
                            alt="express icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="rails" class="tooltip">
                        <img
                            src="/icons/Rails.svg"
                            alt="rails icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
            </ul>
        </div>

        <hr class="separator-solid" />
        <h3>base de données</h3>
        <div class="tech-icons-list-project">
            <ul class="project-links-list">
                <li>
                    <span data-text="prisma" class="tooltip">
                        <img
                            src="/icons/prisma.svg"
                            alt="prisma icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="postgreSQL" class="tooltip">
                        <img
                            src="/icons/postgreSQL.svg"
                            alt="postgreSQL icon"
                            class="tech-icon postgreSQL dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="mongoDB" class="tooltip">
                        <img
                            src="/icons/mongoDB.svg"
                            alt="postgreSQL icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
            </ul>
        </div>

        <hr class="separator-solid" />
        <h3>outils de développement</h3>
        <div class="tech-icons-list-project">
            <ul class="project-links-list">
                <li>
                    <span data-text="vite" class="tooltip">
                        <img
                            src="/icons/vite.svg"
                            alt="vite icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="jest" class="tooltip">
                        <img
                            src="/icons/jest.svg"
                            alt="Jest icon"
                            class="tech-icon postgreSQL dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="mocha" class="tooltip">
                        <img
                            src="/icons/mocha.svg"
                            alt="mocha icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="AWS" class="tooltip">
                        <img
                            src="/icons/AWS.svg"
                            alt="AWS icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="Docker" class="tooltip">
                        <img
                            src="/icons/docker.svg"
                            alt="docker icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="github actions" class="tooltip">
                        <img
                            src="/icons/githubactions.svg"
                            alt="github actions icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
            </ul>
        </div>
        <hr class="separator-solid" />
    </div>
</div>
