@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

:root {
    --black: #3E3F40;
    --gray: #6c707a;

    --font-size-base: 1rem;
    --font-size-sm: clamp(0.75rem, 0.50vw + 0.8rem, 0.90rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --icon-sm: 40px;
    --icon-md: 60px;
    --icon-lg: 90px;

    --border-radius: 30px;

    /* Glass variables */
    --glass-color: rgba(255, 255, 255, 0.31);
    --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --glass-blur: blur(9px);
    --glass-border: 1px solid rgba(255, 255, 255, 0.17);
}

html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    
    background: rgb(237,226,245);
    background: linear-gradient(160deg, #dcfeffad, #95eef2ad 20%, #7758fdad 100%);
    background-attachment: fixed;
    margin: 0;

    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;

    visibility: hidden;
}

/* 
    Background circles 
*/
.circles-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    filter: blur(1px);
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(130deg, #D8E3FF, #F5E2FF, #FD98FF);
    z-index: -10;
    /* animation: upDown 5s alternate infinite ease-in-out; */
}

.far-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(130deg, #D8E3FF, #F5E2FF, #FD98FF);
    filter: blur(8px);
    z-index: -100;

    /* animation: downUp 5s alternate infinite ease-in-out; */
}

/* Circle animation */
/* @keyframes upDown {
    0% { transform: translatey(0); }
    100% { transform: translatey(700px); }
}

@keyframes downUp {
    0% { transform: translatey(0); }
    100% { transform: translatey(-500px); }
} */


.circle-1 {
    top: -10%;
    left: 13%;
    transform: scale(0.7);
}

.circle-2 {
    top: 80%;
    left: 50%;
    transform: scale(1.3);
}

.circle-3 {
    top: 35%;
    left: 75%;
    transform: scale(1.3);
    visibility: hidden;
}

.circle-4 {
    top: -90%;
    left: 53%;
    transform: scale(1.9);
}

.far-circle-1 {
    top: 25%;
    left: 10%;
    transform: scale(0.7);
}

.far-circle-2 {
    top: 55%;
    left: 40%;
    transform: scale(1.8);
}

.far-circle-3 {
    top: 10%;
    left: 60%;
    transform: scale(1);
}

.far-circle-4 {
    top: 110%;
    left: 60%;
    transform: scale(1.5);
    visibility: hidden;
}

/* 
    Text 
*/
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--gray);
}

/* Titles */
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }


/* Buttons */
.btn {
    background-color: #fff;
    color: var(--black);
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 200px;
    text-align: center;
    font-size: var(--font-size-md);
}

.projects-btn {
    margin-top: -10px;
}


.projects-btn .plus-sign {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.projects-btn:hover .plus-sign {
    transform: rotate(90deg);

}

.projects-btn:hover {
    color: var(--gray);
}

.projects-btn .btn-text {
    display: inline-block;
}

.projects-btn .btn-text a {
    text-decoration: none;
    color: inherit;
}

.btn-danger {
    background-color: #FF2020;
    color: #fff;
}

.btn-danger:hover {
    background-color: #ff4545;
}

/* Flash messages */
.alert {
    padding: 15px;
    margin-bottom: -20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


ul {
    list-style-type: none;
}

/* Images */
img {
    width: 100%;
    height: auto;
}

.glass-bg {
    /* Glass */
    border-radius: var(--border-radius);
    background: var(--glass-color);
    box-shadow: var(--glass-shadow);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: blur(6.8px);
    border: var(--glass-border);
    z-index: -1;
}


/* 
    Layout 
*/
.container {
    max-width: 982px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    flex-grow: 1;
}

.main {
    padding: 70px 10px;
    flex-grow: 1;
}

/* 
    Hero 
*/
.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 30px;
}

.hero-glass-bg {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
    padding-bottom: 30px;
}

.right-side {
    display: flex;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.hero-text {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-top: 10px;
    line-height: 1.45;
}

.hero-image {
    max-height: 400px;
    max-width: 90%;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}


/* 
    tech stack 
*/
.tech-stack {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tech-stack-text {
    font-size: var(--font-size-md);
}

.tech-stack-glass-bg {
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
}

.tech-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.tech-icons-list {
    display: flex;
    flex-direction: column;
}

.tech-icons-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    z-index: 1;
}

.tech-first-row {
    display: flex;
    flex-direction: row;
}

.tech-icons-list ul li img {
    width: var(--icon-md);
}

.tech-second-row {
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}

.tech-icons-list li {
    padding: 0 10px;
}

.tech-icon {
    width: var(--icon-lg);
}

.rails {
    height: calc(var(--icon-lg) - 7px);
}

.mongoDB {
    height: calc(var(--icon-lg) + 50px);
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:before,
.tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    display: none;
}

.tooltip:before {
    content: attr(data-text);
    top: 100%;
    transform: translateX(-50%);
    margin-top: 8px;
    width: max-content;
    max-width: 200px;
    padding: 6px 10px;
    border-radius: 10px;
    background: var(--black);
    color: #fff;
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: 1.4;
    white-space: nowrap;
}

.tooltip:after {
    top: 100%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-bottom-color: var(--black);
    margin-top: -4px;
}

.tooltip:hover:before,
.tooltip:hover:after {
    display: block;
}

/* Tooltip going up */
.tooltip-up {
    position: relative;
    display: inline-block;
}

.tooltip-up:before,
.tooltip-up:after {
    content: "";
    position: absolute;
    left: 50%;
    display: none;
}

.tooltip-up:before {
    content: attr(data-text);
    bottom: 100%; /* Tooltip appears above the element */
    transform: translateX(-50%);
    margin-bottom: 8px; /* Space between tooltip and element */
    width: max-content;
    max-width: 200px;
    padding: 6px 10px;
    border-radius: 10px;
    background: var(--black);
    color: #fff;
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: 1.4;
    white-space: nowrap;
}

.tooltip-up:after {
    bottom: 100%; /* Tooltip arrow appears above the element */
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: var(--black); /* Arrow pointing down */
    margin-bottom: -4px;
}

.tooltip-up:hover:before,
.tooltip-up:hover:after {
    display: block;
}


/* Contact button */
.contact {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 30px;
}

.contact-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.send-icon {
    margin-top: 4px;
    margin-right: -4px;
}

.contact-btn:hover .send-icon {
    animation: bigger 1s alternate infinite ease-in-out;
    filter: hue-rotate(90deg);
}

@keyframes bigger {
    to { transform: scale(1.15);}
}

/* 
    header
*/

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    padding: 15px 20px;
    margin: 0 10px;
    margin-bottom: 60px;
    grid-template-areas: 
    "header-logo contact-link"
    "header-nav header-nav";
}

.header-logo {
    grid-area: header-logo;
    text-decoration: none;
    font-size: var(--font-size-md);
}

.header-nav {
    grid-area: header-nav;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;   
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-list li {
    margin: 0 10px;
}

.header-list li a {
    text-decoration: none;
}

.contact-link {
    grid-area: contact-link;
    display: flex;
    justify-content: end;
    color: #fff;
}

.contact-link:hover {
    color: #F5E2FF;
}

/* 
    Footer
*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

/* 
    Socials
*/
.socials ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.socials img {
    width: var(--icon-sm);
    margin: 0 4px;
}

/* 
    Portfolio
*/
.portfolio {
    display: flex;
    flex-direction: column;
}

.project {
    margin-bottom: 60px;
}

.image-container {
    position: relative;
    display: inline-block;
    line-height: 0; /* Remove extra space below inline image */
}
  
.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: var(--border-radius);
    overflow-y: auto;
    text-align: justify;
    backdrop-filter: blur(2px);
}
  
.image-container:hover .hover-text {
    opacity: 1;
}

.hover-text p {
    margin: 20px;
    line-height: 1.5;
  }
  
  .image-container:hover .hover-text {
    opacity: 1;
  }

.project-invert {
    display: flex;
    flex-direction: column;
}

.left-side-invert {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.project-image {
    width: 100%;
    max-width: 450px;
    height: 300px;
    object-fit: cover;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    border-radius: var(--border-radius);
}

/* 
    logbook
*/
.logs {
    margin: 0 auto;
}

.log-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-md);
}

.log-list-date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}

.log-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px 0;
}

.pagination {
    font-size: var(--font-size-sm);
    color: var(--gray);
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.pagination:hover {
    color: var(--black);
}

.log-content.glass-bg {
    padding: 20px 40px 60px 40px;
}

.log-content a {
    color: #ac58d3;
    font-weight: bold;
}


/* contact form */

.contact-page h2 {
    margin-left: 50px;
    margin-top: -30px;
}

.contact-page p {
    margin-left: 50px; 
}

.contact-form {
    margin-top: 40px;
}

.contact-inside-form {
    padding: 20px 40px;
}

.captcha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-send-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px 0 0;
}

/*
    ADMIN
*/
/* login page */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-glass-bg {
    position: absolute;
    min-width: 20rem;
    min-height: 25rem;
    z-index: -1;
}

.logged-in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dashboard */
.admin-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.admin-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.admin-log-ul li {
    margin: 10px;
    font-size: var(--font-size-md);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.admin-log-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.log-controls-btn {
    margin: 0 5px;
}

/* 
    Email-sent
*/

.email-sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Responsive */
@media only screen and (min-width: 515px) {
    .tech-icons-list ul li img {
        width: var(--icon-md);
    }
}


@media only screen and (min-width: 975px) {

    .main {
        padding: 10px;
    }

    .circle-2 {
        left: 5%;
        transform: scale(2.3);
    }

    .circle-3 {
        visibility: visible;
    }

    .far-circle-3 {
        visibility: visible;
    }
    
    .far-circle-4 {
        visibility: visible;
    }

    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header-logo header-nav contact-link";
    }

    .hero {
        align-items: center;
    }

    .hero-content {
        padding-bottom: 0;
    }

    .left-side {
        align-items: end;
    }

    .left-side-invert {
        align-items: start;
        margin: 20px;

    }

    .hero .left-side-invert p {
        text-align: start;
    }

    .hero-content {
        flex-direction: row;
    }

    .hero-glass-bg {
        width: 100%;
        height: 80%;
    }

    .hero-text {
        text-align: end;
        margin-top: 2rem;
    }

    .projects-btn {
        margin-top: -20px;
    }

    .tech-stack-text {
        margin-bottom: -40px;
    }

    .tech-stack-glass-bg {
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: -1;
    }

    .tech-second-row {
        margin-bottom: 0;
    }

    .tech-icons-list {
        flex-direction: row;
    }

    .tech-icons-list li {
        padding: 0 20px;
    }    

    .tech-icons-list ul li img {
        width: var(--icon-lg);
    }
    
    .contact {
        margin-top: 10px;
    }

    .log-ul li a {
        flex-direction: row;
        align-items: center;
    }

    .log-list-date {
        text-align: right;
    }
    .admin-title {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .admin-log-ul li {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer {
        flex-direction: row;
    }
}
