@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

:root {
    --black: #3E3F40;
    --gray: #6c707a;

    --font-size-base: 1rem;
    --font-size-sm: clamp(0.75rem, 0.50vw + 0.8rem, 0.90rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --icon-sm: 18px;
    --icon-lg: 90px;

    --border-radius: 30px;

    /* Glass variables */
    --glass-color: rgba(255, 255, 255, 0.31);
    --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --glass-blur: blur(9px);
    --glass-border: 1px solid rgba(255, 255, 255, 0.17);
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    
    background: rgb(237,226,245);
    background: linear-gradient(160deg, #dcfeffad, #95eef2ad 20%, #7758fdad 100%);
    background-attachment: fixed;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* 
    Background circles 
*/
.circles-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    filter: blur(1px);
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(130deg, #D8E3FF, #F5E2FF, #FD98FF);
    opacity: 0.9;
    
    animation: upDown 65s alternate infinite ease-in-out;
}

.far-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(130deg, #D8E3FF, #F5E2FF, #FD98FF);
    opacity: 0.5;
    filter: blur(10px);

    animation: downUp 65s alternate infinite ease-in-out;
}

/* Circle animation */
@keyframes upDown {
    to { transform: translatey(700px);}
}

@keyframes downUp {
    to { transform: translatey(-500px);}
}


.circle-1 {
    top: -10%;
    left: 13%;
    transform: scale(0.7);
}

.circle-2 {
    top: 80%;
    left: 5%;
    transform: scale(2.3);
}

.circle-3 {
    top: 35%;
    left: 75%;
    transform: scale(1.3);
}

.circle-4 {
    top: -70%;
    left: 53%;
    transform: scale(2.9);
    filter: blur(5px);
}

.far-circle-1 {
    top: 25%;
    left: 10%;
    transform: scale(0.7);
}

.far-circle-2 {
    top: 55%;
    left: 40%;
    transform: scale(1.8);
}

.far-circle-3 {
    top: 10%;
    left: 60%;
    transform: scale(1);
}

.far-circle-4 {
    top: 110%;
    left: 60%;
    transform: scale(1.5);
}

/* 
    Text 
*/
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--gray);
}

/* Buttons */
.btn {
    background-color: #fff;
    color: var(--black);
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 200px;
    text-align: center;
    font-size: var(--font-size-md);
}

ul {
    list-style-type: none;
}

/* Images */
img {
    width: 100%;
    height: auto;
}

.glass-bg {
    /* Glass */
    border-radius: var(--border-radius);
    background: var(--glass-color);
    box-shadow: var(--glass-shadow);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: blur(6.8px);
    border: var(--glass-border);
}


/* 
    Layout 
*/
.container {
    max-width: 982px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 70px 0;
    flex-grow: 1;
}

/* 
    Hero 
*/
.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.hero-glass-bg {
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    justify-content: flex-start;
    align-items: end;
    z-index: 1;
}

.hero-text {
    font-size: var(--font-size-lg);
    text-align: end;
    margin-top: 2rem;
    line-height: 1.45;
}

/* Projects button */
.projects-btn .btn-text {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.projects-btn:hover .btn-text {
    animation: biggerText 2s alternate infinite ease-in-out;
}

@keyframes biggerText {
    to { transform: scale(1.03); }
}

.hero-image {
    max-height: 400px;
    max-width: 90%;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}


/* 
    tech stack 
*/
.tech-stack {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tech-stack-text {
    font-size: var(--font-size-md);
    margin-bottom: -40px;
}

.tech-stack-glass-bg {
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.tech-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.tech-icons-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    z-index: 1;
}

.tech-icons-list li {
    padding: 0 20px;
}

.tech-icon {
    width: var(--icon-lg);
}

.rails {
    width: calc(var(--icon-lg) - 25px);
}

.mongoDB {
    width: calc(var(--icon-lg) + 45px);
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:before,
.tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    display: none;
}

.tooltip:before {
    content: attr(data-text);
    top: 100%;
    transform: translateX(-50%);
    margin-top: 8px;
    width: max-content;
    max-width: 200px;
    padding: 6px 10px;
    border-radius: 10px;
    background: var(--black);
    color: #fff;
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: 1.4;
    white-space: nowrap;
}

.tooltip:after {
    top: 100%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-bottom-color: var(--black);
    margin-top: -4px;
}

.tooltip:hover:before,
.tooltip:hover:after {
    display: block;
}

/* Contact button */
.contact {
    display: flex;
    justify-content: end;
    width: 110%;
    margin-top: 10px;
}

.contact-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.send-icon {
    margin-top: 4px;
    margin-right: -4px;
}

.contact-btn:hover .send-icon {
    animation: bigger 1s alternate infinite ease-in-out;
    filter: hue-rotate(90deg);
}

@keyframes bigger {
    to { transform: scale(1.15);}
}

/* 
    header
*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;

}

.header-logo {
    text-decoration: none;
    font-size: var(--font-size-md);
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;      
}

.header-list li {
    margin: 0 10px;
}

.header-list li a {
    text-decoration: none;
}

.contact-link {
    color: #fff;
}

.contact-link:hover {
    color: #F5E2FF;
}

/* 
    Footer
*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
}