<div class="project-page">
    <div class="project-hero-img">
        <img
                src="/img/projects_chante-show-control.png"
                alt="project picture"
                class="project-page-hero-image"
                loading="lazy"
        />
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
        <div class="project-links">
            <h2>Chante! Show Control UI</h2>
        </div>

        <div class="tech-icons-list-project">
            <h4>tools & technologies :</h4>
            <ul class="project-links-list">
                <li>
                    <span data-text="vuejs" class="tooltip">
                        <img
                                src="/icons/vuejs.svg"
                                alt="react icon"
                                class="tech-icon react dark-mode-icon"
                                loading="lazy"
                                width="80px"
                                height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="vite" class="tooltip">
                        <img
                                src="/icons/vite.svg"
                                alt="vite icon"
                                class="tech-icon react dark-mode-icon"
                                loading="lazy"
                                width="80px"
                                height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="nodejs" class="tooltip">
                        <img
                                src="/icons/nodejs.svg"
                                alt="nodejs icon"
                                class="tech-icon nodejs dark-mode-icon"
                                loading="lazy"
                                width="80px"
                                height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="typescript" class="tooltip">
                        <img
                                src="/icons/typescript.svg"
                                alt="typescript icon"
                                class="tech-icon nodejs"
                                loading="lazy"
                                width="80px"
                                height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="postgreSQL" class="tooltip">
                        <img
                                src="/icons/postgreSQL.svg"
                                alt="postgreSQL icon"
                                class="tech-icon postgreSQL dark-mode-icon"
                                loading="lazy"
                                width="80px"
                                height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="Docker" class="tooltip">
                        <img
                                src="/icons/docker.svg"
                                alt="docker icon"
                                class="tech-icon nodejs dark-mode-icon"
                                loading="lazy"
                                width="80px"
                                height="80px"
                        />
                    </span>
                </li>
            </ul>
        </div>

        <div class="project-description">
            <p data-lang-key="description-1"></p>

            <img
                    src="/img/projects_chante-show-control.png"
                    alt="project picture"
                    class="project-description-image"
                    loading="lazy"
            />

            <p data-lang-key="description-2"></p>

            <img
                    src="/img/projects_chante-experience-control.png"
                    alt="project picture"
                    class="project-description-image"
                    loading="lazy"
            />

            <p data-lang-key="description-3"></p>

            <p data-lang-key="description-4"></p>
        </div>
    </div>
</div>
