<div class="project-page">
    <div class="project-hero-img">
        <img
            src="/img/projects_eat-around-1.webp"
            alt="project picture"
            class="project-page-hero-image"
            loading="lazy"
        />
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
        <h2>eat around</h2>

        <div class="project-links">
            <ul class="project-links-list">
                <li>
                    <span class="project-links-icon">
                        <a href="https://github.com/valentin-orrit/Eat-Around">
                            <img
                                src="/icons/github.svg"
                                alt="github icon"
                                class="socials-icon dark-mode-icon"
                                id="link-github-icon"
                                loading="lazy"
                            />
                        </a>
                    </span>
                </li>

                <li>
                    <span class="project-links-icon">
                        <a href="https://eataround.co/">
                            <img
                                src="/icons/website.svg"
                                alt="website icon"
                                class="socials-icon dark-mode-icon"
                                loading="lazy"
                            />
                        </a>
                    </span>
                </li>
            </ul>
        </div>

        <div class="project-description">
            <p data-lang-key="description-1">
                Application de quiz culture faite avec React, utilisant Open
                Trivia API pour proposer des questions sur la musique, le
                cinéma, les arts classiques et la littérature.
            </p>

            <p data-lang-key="description-2">
                Adaptée d'un exercice de fin de la formation React que j'ai
                effectué sur Scrimba, cet application est mon premier essai à la
                création d'une app React depuis zéro. Cette application n'a pas
                de backend et j'ai utilisé React-Router pour le routing. L'app a
                3 pages : une page d'accueil sur laquelle on peut choisir la
                catégorie (qui va modifier la requête API vers Open Trivia), une
                page Questions sur laquelle défilent les questions une par une,
                et une page résultat qui affiche les réponses de l'utilisateur
                et les bonnes réponses attendues. Il y a même une petite
                surprise pour les utilisateurs réussissant à faire un score
                parfait !
            </p>

            <img
                src="/img/projects_culture-shuffle-2.png"
                alt="project picture"
                class="project-description-image"
                loading="lazy"
            />

            <p data-lang-key="description-3">
                Cet exercice m'a permis d'apréhender React et de prendre en main
                la syntaxe du jsx, des components, props, states et effects.
            </p>
        </div>
    </div>
</div>
