<div class="project-page">
    <div class="project-hero-img">
        <img src="/img/projects_hotefinder-1.png" alt="project picture" class="project-page-hero-image" loading="lazy">
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
        <h2>hotefinder</h2>
    
        <div class="project-links" id="hotefinder">
            <ul class="project-links-list">
                <li>
                    <span class="project-links-icon">
                        <a href="https://github.com/antoinekc/hotefinder">
                            <img src="/icons/github.svg" alt="github icon" class="socials-icon dark-mode-icon" loading="lazy">
                        </a>
                    </span> 
                </li>
    
                <li>
                    <span class="project-links-icon">
                        <a href="https://hotefinder-2024.fly.dev/">
                            <img src="/icons/website.svg" alt="website icon" class="socials-icon dark-mode-icon" loading="lazy">
                        </a>
                    </span> 
                </li>
            </ul>
        </div>
    
        <div class="project-description">
            <p data-lang-key="hotefinder-description">
                Plateforme permettant de mettre en relation concierges et propriétaires pour la gestion de locations courtes durées. Permet la création et la mise à jour de missions pour faciliter le travail du concierge et tenir à jour automatiquement le propriétaire.
            </p>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
    
            <img src="/img/projects_hotefinder-2.png" alt="project picture" class="project-description-image" loading="lazy">
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>