<div class="project-page">
    <div class="project-hero-img">
        <img src="/img/projects_hotefinder-1.png" alt="project picture" class="project-page-hero-image" loading="lazy">
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
        <h2>hotefinder</h2>
    
        <div class="project-links" id="hotefinder">
            <ul class="project-links-list">
                <li>
                    <span class="project-links-icon">
                        <a href="https://github.com/valentin-orrit/hotefinder">
                            <img src="/icons/github.svg" alt="github icon" class="socials-icon dark-mode-icon" id="link-github-icon" loading="lazy">
                        </a>
                    </span> 
                </li>
    
                <li>
                    <span class="project-links-icon">
                        <a href="https://hotefinder-2024.fly.dev/">
                            <img src="/icons/website.svg" alt="website icon" class="socials-icon dark-mode-icon" loading="lazy">
                        </a>
                    </span> 
                </li>
            </ul>
        </div>
    
        <div class="project-description">
            <p data-lang-key="hotefinder-description">
                Plateforme permettant de mettre en relation concierges et propriétaires pour la gestion de locations courtes durées. Permet la création et la mise à jour de missions pour faciliter le travail du concierge et tenir à jour automatiquement le propriétaire.
            </p>
            
            <p>
                Hotefinder a été créé en collaboration avec Elias Ben Amar, Enzo Garry et Antoine Kim Cheang, en tant que projet final de la formation Full Stack de The Hacking Project. Il a été réalisé sur Ruby On Rails et j'ai principalement agis sur le backend, notamment sur la mise en place de la base de donnée, du système de missions, le mailer avec Mailjet et de la gestion des images avec AWS S3.
            </p>
    
            <img src="/img/projects_hotefinder-2.png" alt="project picture" class="project-description-image" loading="lazy">
            
            <p>
                La fonctionnalité principale du projet était de créer un système de mission permettant au propriétaire d'être mis à jour le plus facilement possible, automatiquement ou par l'action du concierge. Par exemple : Jean est propriétaire, il peut rédiger une mission d'accueil de voyageurs datée sur son dashboard et la proposer à George, un concierge qu'il aura trouvé sur le site. George peut accepter ou refuser la mission. S'il l'accepte, la mission sera mise à jour sur le dashboard de Jean. Lors du jour d'accueil des voyageurs, George sera notifié sur son dashboard et quand la mission aura été exécutée, il pourra en notifier Jean.
            </p>

            <p>
                Ce système permet donc aux propriétaires de trouver facilement des concierges inscrits sur la plateforme et d'avoir une vision d'ensemble sur leurs différentes missions. De même pour les concierges qui peuvent facilement surveiller leur activité et contacts avec les propriétaires sur leur dashboard.
            </p>

            <img src="/img/projects_hotefinder-3.png" alt="project picture" class="project-description-image" loading="lazy">

            <p>
                Ce projet était très intéressant et formateur, tant sur l'aspect humain que technique. J'ai pu ainsi approfondir mes connaissances en backend, la gestion de base de donnée, l'utilisations d'APIs diverses et l'utilisation d'outils de collaboration comme git/github, miro et trello.
            </p>
        </div>
    </div>
</div>