<div class="project-page">
    <div class="project-hero-img">
        <img src="/img/projects_live-project-manager.png" alt="project picture" class="project-page-hero-image" loading="lazy">
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
            <h2>ableton live project manager</h2>
        
            <div class="project-links" id="live-project-manager">
                <ul class="project-links-list">
                    <li>
                        <span class="project-links-icon">
                            <a href="https://github.com/valentin-orrit/live_project_manager-CLI">
                                <img src="/icons/github.svg" alt="github icon" class="socials-icon dark-mode-icon" id="link-github-icon loading="lazy">
                            </a>
                        </span> 
                    </li>
        
                    <!-- <li>
                        <span class="project-links-icon">
                            <a href="https://github.com/valentin-orrit/live_project_manager-CLI">
                                <img src="/icons/website.svg" alt="website icon" class="socials-icon dark-mode-icon" loading="lazy">
                            </a>
                        </span> 
                    </li> -->
                </ul>
            </div>
        
            <div class="project-description">
                <p data-lang-key="ableton-description">
                    App CLI permettant de trouver des projets ableton live dans un directory, en extraire les données pertinantes et les stocker dans une base de donnée JSON.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
    </div>
</div>