<div class="project-page">
    <div class="project-hero-img">
        <img src="/img/projects_live-project-manager-1.webp" alt="project picture" class="project-page-hero-image" loading="lazy">
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
            <h2>ableton live project manager</h2>
        
            <div class="project-links" id="live-project-manager">
                <ul class="project-links-list">
                    <li>
                        <span class="project-links-icon">
                            <a href="https://github.com/valentin-orrit/live_project_manager-CLI">
                                <img src="/icons/github.svg" alt="github icon" class="socials-icon dark-mode-icon" id="link-github-icon loading="lazy">
                            </a>
                        </span> 
                    </li>
                </ul>
            </div>
        
            <div class="project-description">
                <p data-lang-key="description-1">
                    App CLI permettant de trouver des projets Ableton Live dans un directory, en extraire les données pertinantes et les stocker dans une base de donnée JSON.
                </p>
                <p data-lang-key="description-2">
                    Ce projet est la première app CLI que j'ai réalisé et un prototype pour une future app React de gestion de projet Ableton Live, qui est un logicel de production musicale. Etant musicien et producteur de musique électronique depuis plus de 15 ans, j'ai créé énormément de projets Live (un projet peut être un morceau, un live etc.) dont la gestion peut être chaotique et complexe à cause des samples audio et des plugins et Ableton Live ne propose aucune solution de ce côté là. 
                </p>
                <p data-lang-key="description-3">
                    Ce prototype vient essayer de faciliter cette gestion de projets. Dans l'application finale, il sera possible de classer les projets dans une bibliothèque et des playlists, de rajouter des tags et d'accéder à tout ça depuis n'importe où.
                </p>
                <p data-lang-key="description-4">
                    Etant mon premier projet en nodejs, ce projet m'a permis d'apprendre énormément de choses et d'apréhender plus javascript, notamment dans ses différences avec Ruby.
                </p>
            </div>
    </div>
</div>