<div class="project-page">
    <div class="project-hero-img">
        <img
            src="/img/projects_eat-around-4.webp"
            alt="project picture"
            class="project-page-hero-image"
            loading="lazy"
        />
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
        <div class="project-links">
            <h2>eat around</h2>
            <ul class="project-links-list">
                <li>
                    <span class="project-links-icon">
                        <a
                            href="https://github.com/valentin-orrit/Eat-Around"
                            target="_blank"
                        >
                            <img
                                src="/icons/github.svg"
                                alt="github icon"
                                class="socials-icon dark-mode-icon"
                                id="link-github-icon"
                            />
                        </a>
                    </span>
                </li>

                <li>
                    <span class="project-links-icon">
                        <a href="https://eataround.co/" target="_blank">
                            <img
                                src="/icons/website.svg"
                                alt="website icon"
                                class="socials-icon dark-mode-icon"
                                loading="lazy"
                            />
                        </a>
                    </span>
                </li>
            </ul>
        </div>

        <div class="tech-icons-list-project">
            <h4>tools & technologies :</h4>
            <ul class="project-links-list">
                <li>
                    <span data-text="react" class="tooltip">
                        <img
                            src="/icons/react.svg"
                            alt="react icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="vite" class="tooltip">
                        <img
                            src="/icons/vite.svg"
                            alt="react icon"
                            class="tech-icon react dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="tailwind" class="tooltip">
                        <img
                            src="/icons/tailwind.svg"
                            alt="tailwind icon"
                            class="tech-icon tailwind dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="nodejs" class="tooltip">
                        <img
                            src="/icons/nodejs.svg"
                            alt="nodejs icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="express" class="tooltip">
                        <img
                            src="/icons/express.svg"
                            alt="nodejs icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="prisma" class="tooltip">
                        <img
                            src="/icons/prisma.svg"
                            alt="nodejs icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="postgreSQL" class="tooltip">
                        <img
                            src="/icons/postgreSQL.svg"
                            alt="postgreSQL icon"
                            class="tech-icon postgreSQL dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="jest" class="tooltip">
                        <img
                            src="/icons/jest.svg"
                            alt="postgreSQL icon"
                            class="tech-icon postgreSQL dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="AWS" class="tooltip">
                        <img
                            src="/icons/AWS.svg"
                            alt="postgreSQL icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
                <li>
                    <span data-text="github actions" class="tooltip">
                        <img
                            src="/icons/githubactions.svg"
                            alt="postgreSQL icon"
                            class="tech-icon nodejs dark-mode-icon"
                            loading="lazy"
                            width="80px"
                            height="80px"
                        />
                    </span>
                </li>
            </ul>
        </div>

        <div class="project-description">
            <p data-lang-key="description-1">
                React app conçue avec Gaultier Patrice pour aider les
                utilisateurs à découvrir et à enregistrer des établissements de
                restauration adaptés aux cuisines végétarienne, vegan, sans
                gluten, sans lactose, halal et casher.
            </p>

            <p data-lang-key="description-2">
                Eat Around permet à l'utilisateur de faire une recherche
                d'adresse ou d'activer la géolocalisation de Google Maps pour
                rechercher des restaurants, boulangeries et cafés à proximité
                correspondants au filtres sélectionnés. Lorsque l'utilisateur
                est connecté, il peut également activer ou désactiver certains
                filtres et ajouter ou supprimer des lieux à sa liste de favoris.
            </p>

            <img
                src="/img/projects_eat-around-gif-1.webp"
                alt="project picture"
                class="project-description-image"
                loading="lazy"
            />

            <p data-lang-key="description-3">
                Eat Around a été imaginé pour nous familliariser avec l'API
                Google Maps et confirmer nos connaissances avec l'eco-système
                javascript. Le frontend a été construit avec React, Vite,
                React-Router, Shadcn et Tailwind. Le backend avec Nodejs,
                Express, Prisma et Postgres via Neon. Les tests ont étés réalisé
                avec Jest, Vitest et Github Actions pour l'automatisation.
            </p>

            <img
                src="/img/projects_eat-around-2.webp"
                alt="project picture"
                class="project-description-image"
                loading="lazy"
            />

            <p data-lang-key="description-4">
                Lors du développement de cette app je me suis surtout investi
                sur la création et configuration du repo, le backend, la
                connexion frontend-backend, l'UX, les tests, le déploiement et
                la gestion des divers services externes comme Clerk, AWS SES. Ce
                projet m'aura permit d'apprendre énormément et de valider
                beaucoup de compétences dans la gestion d'un projet Full-Stack
                React et Javascript.
            </p>
        </div>
    </div>
</div>
