<div class="project-page">
    <div class="project-hero-img">
        <img src="/img/projects_threejs-double-galaxy-2.png" alt="project picture" class="project-page-hero-image" loading="lazy">
    </div>

    <div class="project-page-body glass-bg project-page-glass-bg">
        <h2>threejs double galaxy</h2>
    
        <div class="project-links">
            <ul class="project-links-list">
                <li>
                    <span class="project-links-icon">
                        <a href="https://github.com/valentin-orrit/threejs-double_galaxy">
                            <img src="/icons/github.svg" alt="github icon" class="socials-icon dark-mode-icon" id="link-github-icon loading="lazy">
                        </a>
                    </span> 
                </li>
    
                <li>
                    <span class="project-links-icon">
                        <a href="https://threejs-double-galaxy-m1zstv7yp-valentin-orrits-projects.vercel.app/">
                            <img src="/icons/website.svg" alt="website icon" class="socials-icon dark-mode-icon" loading="lazy">
                        </a>
                    </span> 
                </li>
            </ul>
        </div>
    
        <div class="project-description">
            <p data-lang-key="description-1">
                Représentation 3D de galaxies en threejs, adapté d'un exercice de la formation threejs journey de Bruno Simon.
            </p>
            
            <p data-lang-key="description-2">
                Ayant un peu de pratique sur plusieurs logiciels de 3D (TouchDesigner & Blender) et ayant une forte sensibilité artistique, j'ai d'abord été en contact de la programmation par le biais du creative coding et de l'art génératif. J'ai donc commencé mon apprentissage avec threejs et le cours "threejs journey" de Bruno Simon. Un des exercices porté sur les particules et la création d'une galaxie. J'ai adapté cet exercice en améliorant la structure du code et le contenu (rajout d'un écran de chargement) pour mieux apprivoiser threejs. 
            </p>
            
            <img src="/img/projects_threejs-double-galaxy-gif.webp" alt="project picture" class="project-description-image" loading="lazy">
            
            <p data-lang-key="description-3">
                Cet exercice m'a permis de comprendre mieux comment structurer du code dans une appli, de ainsi que les bases du build et déploiement d'application via Vercel.
            </p>
        </div>
        
    </div>
</div>